@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

/* ------------ All geral ------------- */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Archivo", sans-serif;
    color: white;
    transition: color 0.5s ease, transform 0.5s ease, background-color 0.5s ease;
}

html, body {
    width: 100%;
    max-width: 100%;
    background-color: black;
}

.grad-text{
    background: linear-gradient(90deg, rgb(68, 248, 143), rgb(30, 173, 255));
    -webkit-background-clip: text;
    color: transparent;
}

