@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

/* ------------ Header ------------- */

header {
    display: flex;
    justify-content: center;
}

header > .container {
    width: 100%;
    max-width: 1200px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
}

nav ul{
    list-style-type: none;
    display: flex;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin: 0px 12px;
    white-space: nowrap;
}

nav a:hover {
    color: rgb(68, 248, 143);
}

nav .selection {
    color: rgb(68, 248, 143);
}

.header-btn {
    display: flex;
}

.header-btn > .container {
    border-radius: 36px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 4px;
}

.header-btn > .container:hover {
    background-color: rgba(255, 255, 255, 0.096);
    cursor: pointer;
}

