@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

/* ------------ Media Queries ------------- */

@media screen and (max-width: 768px) { /* APAGUE DPS */
    nav {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .header-btn > .nodesktop {
        display: none;
    }
}

@media screen and (max-width: 980px) {
    aside {
        flex: 1 1 300px;
        order: -1;
    }
}
